extends layout

block content
    div.wrapper 
        div.head-spacer
        h1.main-heading Romanchato
        div.chat-window
        div.chat-input-wrapper
        input.chat-input
        input.chat-input-button(type='button', value='Send')
