extends layout

block content
    div.wrapper 
        div.head-spacer
        h1.main-heading Romanchato
        div#chat-window.chat-window
        div.chat-input-wrapper
        input#chat-input.chat-input
        div#chat-send.chat-input-button Send
